<nav class="main-nav">
    <a id="logo" href="https://bannerboy.com">
        <img src="/assets/images/bannerboy-logo.png" srcset="/assets/images/bannerboy-logo.png 1x, /assets/images/bannerboy-logo@2x.png 2x" alt="Bannerboy Logo"/>
    </a>
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}">Blog </a>
    {% endif %}
	
	{% for category in site.categories %}
	<!-- <a href="/{{ category | first }}" name="{{ category | first }}">/{{ category | first }}</a> -->
	{% endfor %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
</nav>